    <h1>About ROBORACE new laps counter</h1>
    <h2></h2>
    <div>
      For hot module reloading run
      <pre>npm run start:hmr</pre>
    </div>
    <div>
      <h3>
        patrick@AngularClass.com
      </h3>
    </div>
    <pre>this.localState = {{ localState | json }}</pre>
    <div>
      <table border="1">
        <caption>Team Laps competition table</caption>
        <tr>
          <th>№</th><th>TEAM</th><th>Laps</th><th>Time</th>
        </tr>
        <tr><td>1</td><td>Team 1</td><td>3</td><td>00:23.290</td></tr>
        <tr><td>2</td><td>Team 2</td><td>6</td><td>00:23.290</td></tr>
        <tr><td>3</td><td>Team 3</td><td>3</td><td>00:23.290</td></tr>
        <tr><td>4</td><td>Team 4</td><td>8</td><td>00:23.290</td></tr>
        <tr><td>5</td><td>Team 5</td><td>3</td><td>00:23.290</td></tr>
        <tr><td>6</td><td>Team 6</td><td>5</td><td>00:23.290</td></tr>
        <tr><td>7</td><td>Team 7</td><td>2</td><td>00:23.290</td></tr>
      </table>
    </div>
